.svg-card_arrow-dims {
	width: 18px;
	height: 15px;
}

.svg-cart-dims {
	width: 27px;
	height: 27px;
}

.svg-dorohov-dims {
	width: 180px;
	height: 35px;
}

.svg-field_phone-dims {
	width: 28px;
	height: 28px;
}

.svg-field_quest-dims {
	width: 28px;
	height: 28px;
}

.svg-field_user-dims {
	width: 28px;
	height: 28px;
}

.svg-phone-dims {
	width: 19px;
	height: 19px;
}

.svg-search-dims {
	width: 21px;
	height: 21px;
}

