.container {
    max-width: #{1420px + 60px};
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    outline: none;
    border: none;
    background: $c-primary;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 70px;
    white-space: nowrap;
    &__text {
        height: 14px;
        overflow: hidden;
        font-weight: 600;
        letter-spacing: 0.215em;
        span {
            display: block;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transition: .25s all ease;
        }
    }
    &:hover {
        .button {
            &__text {
                span {
                    transform: matrix(1, 0, 0, 1, 0, -14);
                }
            }
        }
    }
}

.heading {
    margin-bottom: 60px;
    &__text {
        font-weight: bold;
        font-size: 48px;
    }
    &__sub {
        padding-top: 30px;
        font-size: 18px;
    }
}

.pagination {
    padding-top: 20px;
    &__inner {
        ul {
            display: flex;
            align-items: center;
            li {
                margin: 0 10px;
                a {
                    color: #000;
                    font-size: 18px;
                    transition: .25s all ease;
                    &.is--num {
                        cursor: pointer;
                        border-radius: 100%;
                        &:hover {
                            background: #BBD3E3;
                        }
                    }
                }
                .is--num{
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    justify-content: center;
                    &.is--current {
                        background: #BBD3E3;
                        border-radius: 100%;
                    }
                }
                .is--next {
                    margin-left: 30px;
                    &:hover {
                        color: $c-primary;
                    }
                    svg {
                        fill: $c-primary;
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    margin-bottom: 50px;
    ul {
        display: flex;
        li {
            font-size: 14px;
            padding-right: 5px;
            color: #000;
            font-weight: normal;
            a { 
                font-weight: 300;
                color: #000;
                white-space: nowrap;
                &::after {
                    content: ' ... ';
                    color: #000 !important;
                }
                &:hover {
                    color: $c-primary;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .button {
        padding: 16px 40px;
    }
    .heading {
        margin-bottom: 30px;
        &__text {
            font-size: 24px;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .pagination {
        &__inner {
            ul {
                li {
                    margin: 0 5px;
                    &:last-child {
                        display: none;
                    }
                    * {
                        font-size: 14px !important;
                    }
                    .is--num {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .breadcrumbs {
        display: none;
    }
}