.banner {
    background-color: #fff;
    background-image: url(../../img/banner_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    &__inner {
        padding-top: 125px;
        padding-bottom: 275px;
    }
    &__title {
        max-width: 830px;
        font-size: 72px;
        font-weight: bold;
        color: #000;
        line-height: 106%;
        margin-bottom: 40px;
    }
    &__sub {
        font-size: 18px;
        line-height: 106%;
        margin-bottom: 65px;
    }
}

.catalog {
    &-home {
        &.is--index {
            padding-top: 120px;
            padding-bottom: 100px;
        }
        &.is--default {
            padding: 55px 0 100px 0;
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 70px;
            .heading {
                margin-bottom: 0;
            }
            &__all {
                &__text {
                    display: block;
                    height: 16px;
                    overflow: hidden;
                    span {
                        color: $c-primary;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: .215em;
                        display: block;
                        transition: .25s all ease;
                    }
                    &:hover {
                        span {
                            transform: matrix(1, 0, 0, 1, 0, -16);
                        }
                    }
                }
                &.is--filters {
                    display: none;
                }
            }
        }
        &__container {
            display: flex;
            justify-content: space-between;
        }
        &__aside {
            max-width: 370px;
            min-width: 370px;
            width: 370px;
            &__item {
                border-bottom: 1px solid #BBD3E3;
                &__title {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 106%;
                    padding: 20px 30px 20px 20px;
                    cursor: pointer;
                    transition: .25s all ease;
                    position: relative;
                    &::after {
                        content: '';
                        width: 23px;
                        height: 23px;
                        background: url(../../img/catalog_arrow.svg);
                        position: absolute;
                        right: 0;
                        top: 22px;
                        transition: .25s all ease;
                    }
                    &:hover {
                        color: $c-primary;
                    }
                }
                &__list {
                    ul {
                        li {
                            a {
                                display: block;
                                padding: 17px 20px;
                                border-top: 1px solid #BBD3E3;
                                font-weight: 300;
                                color: #000;
                                line-height: 106%;
                                transition: .25s all ease;
                            }
                            &:first-child {
                                a {
                                    border-top: none;
                                }
                            }
                            &:hover,
                            &.is--active {
                                a {
                                    background: #BBD3E3;
                                }
                            }
                        }
                    }
                }
                &.is--open {
                    .catalog {
                        &-home {
                            &__aside {
                                &__item {
                                    &__title {
                                        &::after {
                                            transform: rotate(90deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__close {
                margin-bottom: 30px;
                text-align: right;
                display: none;
            }
        }
        &__wrap {
            max-width: 850px;
            margin-left: 30px;
            width: 100%;
            &__inner {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
            }
        }
        &__card {
            max-width: 33.3333333%;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 30px;
            &__inner {
                background: #fff;
            }
            &__wrap {
                position: relative;
                display: block;
                padding: 40px 8px 10px 15px;
                border: 3px solid transparent;
                transition: .25s all ease;
                z-index: 10;
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: url(../../img/card_eclipse.svg);
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-position: 90% 90%;
                }
                &:hover {
                    border-color: #004D85;
                    .catalog-home {
                        &__card {
                            &__arrow {
                                left: 20px;
                            }
                        }
                    }
                }
            }
            &__title {
                color: #000;
                min-height: 55px;
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }
            &__arrow {
                position: absolute;
                left: 15px;
                bottom: 50%;
                transition: .25s all ease;
                svg {
                    fill: $c-primary;
                }
            }
        }
    }
}

.catalog-banner {
    padding: 55px 0 100px 0;
    &__top {
        display: flex;
        align-items: flex-end;
        margin-bottom: 50px;
        &__left {
            margin-right: 50px;
            .heading {
                margin-bottom: 0;
            }
        }
        &__right {
            margin-left: auto;
        }
        &__search {
            position: relative;
            input {
                padding: 20px 30px 20px 60px;
                border: 1px solid #BBD3E3;
                font-weight: 300;
                font-size: 14px;
                color: #000;
                transition: .25s all ease;
                width: 100%;
                &:focus {
                    border-color: $c-primary;
                }
                &::placeholder {
                    color: #000;
                }
            }
            button {
                position: absolute;
                display: flex;
                height: 100%;
                width: auto;
                cursor: pointer;
                left: 0;
                top: 0;
                border: none;
                background: transparent;
                padding: 0 15px 0 20px;
                outline: none;
                svg {
                    fill: $c-primary;
                }
            }
        }
    }
    &__filters {
        margin-bottom: 60px;
        &__heading {
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 40px;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        &__block {
            max-width: 25%;
            width: 100%;
            padding: 0 15px;
            &__input {
                border: 1px solid #BBD3E3;
                padding: 10px 20px 25px 20px;
                &__title {
                    font-size: 16px;
                    line-height: 106%;
                }
                &__field {
                    input {
                        border: none;
                        width: 100%;
                        background: transparent;
                        padding-top: 10px;
                        font-weight: 300;
                        font-size: 14px;
                        color: #000;
                        &::placeholder {
                            color: #000;
                        }
                    }
                }
            }
            &__slider {
                transform: translateY(-50%);
                * {
                    border: none !important;
                }
                .ui-slider-horizontal {
                    background: transparent;
                }
                .ui-slider-horizontal .ui-slider-range {
                    height: 2px;
                    background: $c-primary;
                }
                .ui-slider .ui-slider-range {
                    border-radius: 0 !important;
                    top: 4px;
                }
                .ui-slider .ui-slider-handle {
                    width: 22px;
                    height: 22px;
                    border-radius: 100% !important;
                    outline: none;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.074);
                    background: #fff !important;
                    &:hover {
                        transform: scale(1.2);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: $c-primary;
                        border-radius: 100%;
                        display: block;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-4px) translateY(-4px);
                    }
                }
            }
            &__footer {
                display: flex;
                span {
                    display: block;
                    max-width: 50%;
                    width: 100%;
                    font-weight: 300;
                    font-size: 12px;
                    &.is--right {
                        text-align: right;
                    }
                }
            }
        }
    }
    &__table {
        margin-bottom: 65px;
    }
}

.delivery {
    padding: 55px 0 65px 0;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px 20px -30px;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: auto;
            max-width: 100%;
        }
    }
    &__block {
        padding: 0 30px;
        width: 100%;
        margin-bottom: 35px;
        &.is--c3 {
            max-width: 33.333333%;
        }
        &.is--c2 {
            max-width: 50%;
        }
        &.is--c1-3 {
            max-width: 33.33333%;
        }
        &.is--c2-3 {
            max-width: 66.66666%;
        }
        &.is--nh {
            padding-top: 27px;
        }
        p {
            margin: 0 0 20px 0;
            font-weight: 300;
            font-size: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__heading {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    &__heading {
        margin-bottom: 35px;
        font-weight: 500;
        font-size: 24px;
    }
}

.contacts {
    padding: 55px 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        &__block {
            max-width: 33.33333%;
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            a,
            span {
                font-weight: 600;
                font-size: 16px;
                color: #000;
            }
            a {
                transition: .25s all ease;
                &:hover {
                    color: $c-primary;
                }
            }
            svg {
                fill: $c-primary;
            }
        }
    }
}

#map {
    height: 570px;
}

.search {
    padding: 55px 0 90px 0;
}

.basket {
    padding: 55px 0 45px 0;
    &__empty {
        display: flex;
        &__left {
            min-width: 520px;
            width: 520px;
            margin-right: 50px;
        }
        &__right {
            margin-left: auto;
        }
    }
    &__table {
        margin-bottom: 45px;
        table {
            box-sizing: border-box;
            border-collapse: collapse;
            width: 100%;
            tr {
                background: #fff;
                &.is--spacer {
                    height: 5px;
                    background: transparent;
                    &:last-child {
                        display: none;
                    }
                }
                td {
                    padding: 45px 30px;
                    &:first-child {
                        text-align: center;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    button {
                        &.is--trash {
                            cursor: pointer;
                            padding: 0;
                            background: transparent;
                            border: none;
                            svg {
                                fill: $c-primary;
                                transition: .25s all ease;
                            }
                            &:hover {
                                svg {
                                    fill: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__line {
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid #BBD3E3;
            justify-content: space-between;
            white-space: nowrap;
            &__left {
                margin-right: 50px;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__left,
        &__right {
            margin-bottom: 25px;
        }
        &__left {
            margin-right: 30px;
        }
    }
}

.error {
    padding: 70px 0;
    &__wrap {
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        &__img {
            margin-bottom: 60px;
        }
        &__heading {
            margin-bottom: 50px;
            &__text {
                font-weight: bold;
                font-size: 48px;
                margin-bottom: 15px;
            }
            &__sub {
                font-size: 18px;
                line-height: 119.5%;
            }
        }
    }
}

@media (max-width: 1440px) {
    .catalog {
        &-home {
            &__aside {
                min-width: 310px;
                width: 310px;
                max-width: 310px;
                &__item {
                    &__title {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    .basket {
        &__table {
            table {
                tr {
                    td {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .banner {
        &__inner {
            padding-top: 50px;
            padding-bottom: 130px;
        }
        &__title {
            font-size: 42px;
            margin-bottom: 20px;
        }
        &__sub {
            margin-bottom: 35px;
        }
    }
    .catalog {
        &-home {
            &__title {
                &__text {
                    margin-right: 20px;
                }
                &__all {
                    &.is--filters {
                        display: block;
                    }
                }
            }
            &__aside {
                position: fixed;
                z-index: 9999999;
                background: #f8f8fb;
                top: 70px;
                left: 0;
                min-height: calc(100vh - 70px);
                height: 100%;
                min-width: 0;
                max-width: 350px;
                width: 100%;
                padding: 20px;
                transform: translateX(-100%);
                transition: .25s all ease;
                &__item {
                    &__title {
                        font-size: 16px;
                    }
                }
                &__close {
                    display: block;
                }
            }
            &__wrap {
                max-width: 100%;
                margin-left: 0;
            }
        }
    }
    .catalog-banner {
        &__filters {
            &__block {
                max-width: 50%;
                margin-bottom: 30px;
            }
        }
    }
    .delivery {
        &__block {
            &.is--c3 {
                max-width: 50%;
                &:last-child {
                    max-width: 100%;
                }
            }
        }
    }
    .contacts {
        &__list {
            &__block {
                max-width: 100%;
            }
        }
    }
    .basket {
        &__empty {
            &__left {
                margin-right: 0;
                width: 100%;
                min-width: 0;
            }
            &__right {
                display: none;
            }
        }
        &__table {
            table {
                tr,
                tr td {
                    display: block;
                }
                tr td {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &.is--center {
                        text-align: center;
                    }
                }
                tr {
                    padding: 15px 0;
                    &.is--spacer {
                        height: 15px;
                    }
                }
            }
            &__line {
                flex-wrap: wrap;
                &__left {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                &__right {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .catalog {
        &-home {
            &__card {
                max-width: 50%;
            }
        }
    }
    .delivery {
        &__block {
            max-width: 100% !important;
        }
    }
}

@media (max-width: 600px) {
    .catalog {
        &-home {
            &__wrap {
                &__inner {
                    margin: 0;
                }
            }
            &__card {
                max-width: 100%;
                padding: 0;
                &__arrow {
                    position: static;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: none;
        &__inner {
            padding-bottom: 50px;
        }
        &__title {
            font-size: 22px;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .catalog {
        &-home {
            padding-top: 50px;
            padding-bottom: 50px;
            &__title {
                margin-bottom: 40px;
                flex-wrap: wrap;
                &__all {
                    margin-bottom: 20px;
                    margin-left: 5px;
                    margin-right: 5px;
                    a {
                        cursor: pointer;
                    }
                }
                &__text {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .catalog-banner {
        padding: 50px 0;
        &__top {
            flex-wrap: wrap;
            &__left {
                margin-bottom: 30px;
                margin-right: 0;
                width: 100%;
            }
            &__right {
                margin-left: 0;
            }
        }
        &__filters {
            margin-bottom: 20px;
            &__heading {
                font-size: 18px;
                margin-bottom: 20px;
            }
            &__block {
                max-width: 100%;
            }
        }
        &__table {
            margin-bottom: 25px;
        }
    }
    .delivery {
        &__heading {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__block {
            margin-bottom: 25px;
            &.is--nh {
                padding-top: 0;
            }
            img {
                max-width: 60%;
            }
        }
    }
    .contacts {
        &__list {
            &__block {
                margin-bottom: 30px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    #map {
        height: 300px;
    }
    .error {
        padding: 50px 0;
        &__wrap {
            &__img {
                padding: 0 4vw;
                margin-bottom: 30px;
            }
            &__heading {
                margin-bottom: 30px;
                &__text {
                    font-size: 36px;
                }
                &__sub {
                    font-size: 16px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}